.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: o.1rem solid #333333;
  background-color: #fff;
}
.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 #0088ff69;
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: rgb(0, 136, 247);
  color: bisque;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
}
