@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Josefin+Sans:wght@500&display=swap');

:root {
  background: rgb(58,67,180);
  background: linear-gradient(16deg, rgba(58,67,180,1) 0%, rgba(253,29,229,1) 50%, rgba(69,252,235,1) 100%);  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 4rem;
  color: #ffffff;
  margin-bottom: 5rem;
  font-family: 'Audiowide', cursive;}

h1 > span {
  font-size: 1rem;
  font-weight: 500;
}

h2 {
  font-size: 2rem;
  margin-bottom: 4rem;
  font-weight: 700;
  color: white;
}
  

h3 {
  font-size: 1rem;
  font-weight: 500;
}

/* UTILITIES */

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;;
}
.container > * {
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}


/*-buttons-*/

.btn{
font-size: 1.8rem;
padding: 1rem 0;
width: 20rem;
text-align: center;
border: 0.2rem solid #56a5eb;
margin-bottom: 1rem;
text-decoration: none;
color: #56a5eb;
background-color: white;
}
.btn:hover{
cursor: pointer;
box-shadow: 0 0.4rem 1.4rem 0 #0088ff69;
transform: translateY(-0.1rem);
transition: transform 150ms;

}

.btn[disabled]:hover{
cursor: not-allowed;
transform: none;
}
.btn-slide, .btn-slide2 {
  position: relative;
  display: inline-block;
  height: 50px;
  width: 200px;
  line-height: 50px;
  padding: 0;
  border-radius: 50px;
  background: #fdfdfd;
  border: 2px solid #0099cc;
  margin: 10px;
  transition: .5s;
}

.btn-slide2 {
  border: 2px solid #0099cc;
}

.btn-slide:hover {
  background-color: #0099cc;
}

.btn-slide2:hover {
  background-color: #0099cc;
}

.btn-slide:hover span.circle, .btn-slide2:hover span.circle2 {
  left: 100%;
  margin-left: -45px;
  background-color: #fdfdfd;
  color: #0099cc;
}

.btn-slide2:hover span.circle2 {
  color: #0099cc;
}

.btn-slide:hover span.title, .btn-slide2:hover span.title2 {
  left: 40px;
  opacity: 0;
}

.btn-slide:hover span.title-hover, .btn-slide2:hover span.title-hover2 {
  opacity: 1;
  left: 40px;
}

.btn-slide span.circle, .btn-slide2 span.circle2 {
  display: block;
  background-color: #8ce2ff;
  color: #fff;
  position: absolute;
  float: left;
  margin: 3px;
  line-height: 42px;
  height: 40px;
  width: 40px;
  top: 0;
  left: 0;
  transition: .5s;
  border-radius: 50%;
}

.btn-slide2 span.circle2 {
  background-color: #8ce2ff;
}

.btn-slide span.title,
.btn-slide span.title-hover, .btn-slide2 span.title2,
.btn-slide2 span.title-hover2 {
  position: absolute;
  left: 90px;
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  font-weight: bold;
  color: #30abd5;
  transition: .5s;
}

.btn-slide2 span.title2,
.btn-slide2 span.title-hover2 {
  color: #30abd5;
  left: 80px;
}

.btn-slide span.title-hover, .btn-slide2 span.title-hover2 {
  left: 80px;
  opacity: 0;
}

.btn-slide span.title-hover, .btn-slide2 span.title-hover2 {
  color: #fff;
}

.highs{
  height: 25px;
  margin: 7px;
}


/*--forms---*/
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input{
  margin-bottom: 1rem;
  width: 20rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  border: none;
  box-shadow: 0 0.1rem 1.4rem 0 #09a9ff65;
}

input::placeholder{
  color: #aaa;
  
}

/*---play button----*/





@media only screen and (max-width:780px){
  p{
    font-size: 1.5rem;
  }
  h2{
    font-size: 2.5rem;
  }
}